<div class="videoContainer">
        
    <video id="myVideo"  preload="auto"  width="100%" >
      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
          <p>Your browser does not support the video tag.</p>
        </video>
        <div class="caption">Prometheus</div>
        <div class="control">
            <div class="btmControl">
                <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                <div class="progress-bar">
                    <div class="progress">
                        <span class="bufferBar"></span>
                        <span class="timeBar"></span>
                    </div>
                </div>
                <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
            </div>
            
        </div>
    </div>